<section class = 'about'>
   <h2 class = 'text-4xl font-bold text-white mb-12 text-center'>Acerca de mí</h2>
   <p class = 'text-white/80 mb-12 text-center'>
        Me llamo Jofre Coll Vila, soy un desarrollador web con experiencia en el desarrollo de sitios web y aplicaciones web.
        Tengo la carrera en Informática en la Université Claude Bernard Lyon 1.
        Actualmente estoy trabajando en Premium Delevent como desarrollador Full Stack.
        También estoy estudiando el Master en Ingeniería Informática en la Universitat Politècnica de Catalunya.
   </p>
</section>
